header {
	text-align: center;
	padding:2em 0;
	background-color: #ff71CE;
	color: #01CDFE;
}

body{
	font-family: 'VT323', monospace;
	background-image: url("paper.gif");
	  
}

section{
    margin: 0;
    padding: 1px;
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.buttons{
	text-align: center;
	margin: 1em 0;
}

.buttons a{
	min-width: 15em;
	padding: 1em 1em;
}

.main_bk{
	background-color: white;
}

.ProfileTitle{
	text-align: center;
	margin: 1em auto;
}

.ProfileTitle h2{
	margin:1em 1em;
}

.profilepic {
	max-height: 50px;
	max-width: 50px;
	margin: 10px;
}

.main_img img {
	max-width:50%;
	margin: 0 auto;
}

.footer{
	float:left;
	position: fixed;
	background-color: #f2f2f2;
	text-align: center;
	padding: 1em 0;
	margin-top: 2em;
	left: 0;
	width: 100%;
	bottom: 0;
}

.clearfix{
	overflow:auto;
}

@media screen and (max-width: 760px){
	.buttons a{
		margin-bottom: 2em;
	}
}


